<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        Attributes / Edit attribute
    </h1>
    
</header>

<div id="content-body" class="container-fluid">

    <form ng-submit="update(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name:</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="attribute.name" type="text" name="name" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && submitted }">
            <label class="col-md-2 control-label">Description:</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="attribute.description" type="text" name="description" required />
                <p ng-show="form.description.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && submitted }">
            <label class="col-md-2 control-label">Attributes:</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input ng-model="newAttributeValue" name="newEmail" type="text" class="form-control" placeholder2="Enter a new attribute...">
                    <span ng-click2="add()" class="input-group-btn"><button type="button" class="btn btn-primary" ng-click="addAttribute()"> <span class="glyphicon glyphicon-plus"></span> Add this attribute</button></span>
                </div>
            </div>
            <!--<div class="form-inline col-md-2">
                <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-arrow-up"></span></button>
                <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-arrow-down"></span></button>
            </div>-->
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && submitted }">
            <!--<label class="col-md-2 control-label">Attributes:</label>-->
            <div class="col-md-4 col-md-offset-2">
            <!--<div class="col-md-4">-->
                <!--<button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Add new attribute </button>

                <br /><br />-->
                <!--<div class="input-group">
                    <input ng-model="newEmail" name="newEmail" type="text" class="form-control" placeholder22="Enter a new attribute...">
                    <span ng-click="add()" class="input-group-btn"><button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Add this attribute </button></span>
                </div>

                <br />-->

                <!--<div class="input-group">
                    <input ng-model="newAttributeValue" name="newEmail" type="text" class="form-control" placeholder="Enter a new attribute...">
                    <span ng-click2="add()" class="input-group-btn"><button type="button" class="btn" ng-click="addAttribute()"> <span class="glyphicon glyphicon-plus"></span> Add </button></span>
                </div>-->



                <accordion close-others="true">
                    <!--<accordion-group heading="Static Header, initially expanded" is-open="false" is-disabled="status.isFirstDisabled">
                        This content is straight in the template.
                    </accordion-group>-->
                    <accordion-group ng-repeat="attribute in attribute.attributes" ng-mouseenter="attributeBtnAreVisible=true" ng-mouseleave="attributeBtnAreVisible=false">
                        <accordion-heading>
                            {{attribute.name}}
                            <span class="pull-right" ng-if="attributeBtnAreVisible">
                                <button type="button" class="btn btn-xs" ng-click="removeAttribute($index, attribute, $event)"> <span class="glyphicon glyphicon-remove"></span></button>
                                <button type="button" class="btn btn-xs" ng-click="attributeDown($index, attribute, $event)"> <span class="glyphicon glyphicon-arrow-down"></span></button>
                                <button type="button" class="btn btn-xs" ng-click="attributeUp($index, attribute, $event)"> <span class="glyphicon glyphicon-arrow-up"></span></button>
                            </span>
                        </accordion-heading>
                        {{attribute.description}}
                    </accordion-group>
                </accordion>


            </div>
            <!--<div class="col-md-2">
                <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Add new attribute </button>
            </div>-->
        </div>

        <!--<hr />-->
        <!--<label>Attributes:</label>-->
        <!--<button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Add new attribute </button>-->
        <!--<div class="row toolbar">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Add new attribute </button>
            </div>
        </div>-->
        <!--<div class="row toolbar">
            <div class="col-md-12">
                <label class="col-md-2 control-label">Attributes:</label>
            </div>
        </div>-->
        <!--<div class="row toolbar">
            <div class="col-md-4">
                <label class="col-md-2 control-label">Attributes:</label> <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Add new attribute </button>
                <button type="button" class="btn" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span> </button>
            </div>

            <div class="col-md-3 pull-right">
                <div class="input-group">
                    <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </div>

        </div>-->
        <!--<label>Attributes:</label>-->
        <!--<div class="table-responsive">
            <table class="table table-responsive table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="attribute in attribute.attributes">
                        <td><a ng-href="/attributes/{{attributeValue.name}}">{{attribute.name}}</a></td>
                        <td>{{ attribute.description }}</td>
                        <td>
                            <a ng-click="delete(attribute.attribute)">delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>-->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> {{'GlobalButtons.Save' | translate}} </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class="glyphicon glyphicon-remove"></span> {{'GlobalButtons.Cancel' | translate}} </button>
            </div>
        </div>

    </form>

</div>
