<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        Attributes
    </h1>

</header>

<div id="content-body" class="container-fluid">
    <div class="row toolbar">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Add new attribute </button>
            <button type="button" class="btn" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span> </button>
        </div>

        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>

    </div>


    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>TypeDetails</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="attribute in attributes | filter:search">
                    <td><a ng-href="/attributes/{{attribute.attributeId}}">{{attribute.name}}</a></td>
                    <td>{{ attribute.type }}</td>
                    <!--<td><span ng-if="attribute.type=='OptionSet'">{{ attribute.typeDetails }}</span></td>-->

                    <td>
                        <span ng-if="attribute.type=='OptionSet'">{{ attribute.typeDetails.optionSetId}} [{{ attribute.typeDetails.defaultValue}}] </span>
                        <span ng-if="attribute.type=='OptionSet-MultiVal'">{{ attribute.typeDetails.optionSetId}} [<span ng-repeat="item in  attribute.typeDetails.defaultValues">{{item}}<span ng-if="!$last">, </span></span>] </span>
                    </td>
                    <td>{{ attribute.description }}</td>
                    <td>
                        <a ng-click="delete(attribute)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
