<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        Attributes / {{pageTitle}}
    </h1>
    
</header>

<div id="content-body" class="container-fluid">

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="attribute.name" type="text" name="name" my-focus="isFocusOnName" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="attribute.description" type="text" name="description" />
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.attributeType.$invalid && submitted }">
            <label class="col-md-2 control-label">Attribute Type</label>
            <div class="col-md-4">
                <select name="attributeType" class="form-control" ng-model="attribute.type" ng-change="changeType()" required>
                    <option value=""></option>
                    <option value="Text">Text</option>
                    <option value="OptionSet">OptionSet</option>
                    <option value="OptionSet-MultiVal">OptionSet-MultiVal</option>
                    <!--<option value="TwoOptions">TwoOptions</option>
                    <option value="Number">Number</option>-->
                </select>
                <p ng-show="form.attributeType.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <!--<div ng-if="type=='Text'" class="form-group" ng-class="{ 'has-error' : form.defaultValue.$invalid && submitted }">
            <label class="col-md-2 control-label">Default Value</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="attribute.defaultValue" type="text" name="defaultValue" />
            </div>
        </div>-->

        <div ng-if="attribute.type=='OptionSet' || attribute.type=='OptionSet-MultiVal'" class="form-group" ng-class="{ 'has-error' : form.optionSet.$invalid && submitted }">
            <label class="col-md-2 control-label">Option Set</label>
            <div class="col-md-4">
                <select name="optionSet" class="form-control" ng-model="dotObject.selectedOptionSet" ng-options="c as c.name for c in dotObject.optionSets track by c.optionSetId" ng-change="changeOptionSet()" required>
                    <option value=""></option>
                </select>
                <p ng-show="form.optionSet.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div ng-if="attribute.type=='OptionSet'" class="form-group" ng-class="{ 'has-error' : form.defaultValue.$invalid && submitted }">
            <label class="col-md-2 control-label">Default Value</label>
            <div class="col-md-4">
                <select class="form-control" ng-model="dotObject.selectedDefaultValue" ng-options="c.name as c.name for c in dotObject.selectedOptionSet.options">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div ng-show="attribute.type=='OptionSet-MultiVal'"  class="form-group">
            <label class="col-md-2 control-label">Default Values</label>
            <div class="col-md-4">
                <button type="button" class="btn btn-default" ng-model="dotObject.selectedDefaultValues" data-multiple="1" data-placeholder="Select..." ng-options="c.name as c.name for c in dotObject.selectedOptionSet.options" bs-select>
                    <span class="caret"></span>
                </button>
            </div>
        </div>




        <!--action buttons-->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> {{'GlobalButtons.Save' | translate}} </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class="glyphicon glyphicon-remove"></span> {{'GlobalButtons.Cancel' | translate}} </button>
            </div>
        </div>

        
        <!--optionSets:<pre>{{dotObject.optionSets | json}}</pre>-->
        <!--selectedOptionSet: <pre>{{dotObject.selectedOptionSet | json}}</pre>
        selectedDefaultValue: <pre>{{dotObject.selectedDefaultValue | json}}</pre>
        attribute: <pre>{{attribute | json}}-->
        <!--<pre>{{dotObject.selectedDefaultValues | json}}</pre>-->

    </form>

</div>
