<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        PickOrder / Edit pickOrder
    </h1>
    
</header>

<div id="content-body" class="container-fluid">

    <form ng-submit="update(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="pickOrder.name" type="text" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.createdOn.$invalid && submitted }">
            <label class="col-sm-2 control-label">CreatedOn</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="pickOrder.createdOn" type="text" required />
                <p ng-show="form.createdOn.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <!--<div class="form-group" ng-class="{ 'has-error' : form.createdOn.$invalid && submitted }">
            <label class="col-sm-2 control-label">CustomerId</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="pickOrder.customerId" type="text" required />
                <p ng-show="form.createdOn.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.createdOn.$invalid && submitted }">
            <label class="col-sm-2 control-label">CustomerName</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="pickOrder.customerName" type="text" required />
                <p ng-show="form.createdOn.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>-->

        <div class="form-group" ng-class="{ 'has-error' : form.createdOn.$invalid && submitted }">
            <label class="col-sm-2 control-label">CustomerName</label>
            <div class="col-sm-4">
                <select name="Model" class="form-control" ng-model="pickOrder.customer" ng-options="c as c.name for c in customers  track by c.customerId" required>
                    <option value=""></option>
                </select>
                <p ng-show="form.Model.$invalid  && submitted" class="help-block">This field is required.</p>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> {{'GlobalButtons.Save' | translate}} </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class="glyphicon glyphicon-remove"></span> {{'GlobalButtons.Cancel' | translate}} </button>
            </div>
        </div>

    </form>

</div>
