<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        PickOrder / {{pageTitle}}
    </h1>
    
</header>

<div class="container-fluid">

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="pickOrder.name" type="text" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-4">
                <textarea class="form-control" ng-model="pickOrder.description" name="description" msd-elastic></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Customer</label>
            <div class="col-md-4">
                <select name="customer" class="form-control" ng-model="pickOrder.customer" ng-options="c as c.name for c in customers" >
                    <option value=""></option>
                </select>
            </div>
        </div>

        <!--embedded products-->
        <div class="form-group">
            <label class="col-md-2 control-label">Products</label>
            <div class="col-md-10">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <a ng-click="showRelatedProductsAside()">Add products</a>
                    </div>

                    <div class="panel-body" style="max-height:200px; overflow-y:auto; padding:0;">
                        <table class="table table-responsive table-hover table-condensed borderless" style="margin-bottom:0">
                            <tbody>
                                <tr data-ng-repeat="product in product.relatedProducts | filter:search">
                                    <td>
                                        <img ng-click="showModal(product)" ng-src="{{getPrimaryThumbImageUrl(product.images)}}" width="40" />
                                    </td>
                                    <td>{{ product.attributeSetName }}</td>
                                    <td>{{ product.code }}</td>
                                    <td>
                                        <a target="_blank" ng-href="/products/{{product.id}}">{{product.name}}</a>
                                        <!--<span ng-if="product.description" class="glyphicon glyphicon-info-sign" data-placement="top" data-trigger="hover" html="true" data-content="{{product.attributes}}" bs-popover></span>-->
                                        <i class="glyphicon glyphicon-info-sign" ng-if="product.description" bs-tooltip data-animation="am-fade-and-scale" data-title="{{product.description}}"></i>
                                    </td>

                                    <td>
                                        <a ng-click="deleteRelatedProduct(product)">delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div> <!--end panel-->

            </div>
        </div>
        <!--end embedded products-->


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> {{'GlobalButtons.Save' | translate}} </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class="glyphicon glyphicon-remove"></span> {{'GlobalButtons.Cancel' | translate}} </button>
            </div>
        </div>

    </form>

    <!--dotObject: <pre>{{dotObject | json}}</pre>-->
    <!--pickOrder: <pre>{{pickOrder | json}}</pre>-->

</div>
