<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        Products - acesta este un titlu mai lung si vreau sa vad cum se comporta pe ecrane mici
    </h1>

</header>

<div id="content-body" class="container-fluid">
    <div class="row toolbar">
        <div class="col-md-4">
            <input type="button" value="Add new product" class="btn btn-primary" ng-click="createProduct()" />
            <input type="button" value="Refresh" class="btn" ng-click="refresh()" />
        </div>

        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>

    </div>


    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="product in products | filter:search">
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>
                        <a ng-click="delete(product)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
