<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        Products / Add new product
    </h1>
    
</header>

<div id="content-body" class="container-fluid">

    <form ng-submit="create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name: </label>
            <div class="col-md-4">
                <input class="form-control" ng-model="product.name" type="text" name="name" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description: </label>
            <div class="col-md-4">
                <input class="form-control" ng-model="product.description" type="text" name="description" />
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.selectedAttributeSet.$invalid && submitted }">
            <label class="col-md-2 control-label">AttributeSet:</label>
            <div class="col-md-4">
                <select name="selectedAttributeSet" class="form-control" ng-model="dotObject.selectedAttributeSet" ng-options="c as c.name for c in attributeSets" ng-change="changeAttributeSet()" required>
                    <option value=""></option>
                </select>
                <p ng-show="form.selectedAttributeSet.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div ng-repeat ="c in dotObject.selectedAttributeSet.attributes">
            <div class="form-group">
                <label class="col-md-2 control-label">{{c.name}}: </label>
                <div class="col-md-4" ng-switch="c.type">
                    <any ng-switch-when="OptionSet">
                        <!--<select class="form-control" ng-model="dotObject.attributes[c.typeDetails.optionSetId]" ng-options="x.name as x.name for x in dotObject.attributeSets[c.typeDetails.optionSetId]">-->
                        <select class="form-control" ng-model="dotObject.attributes[c.name]" ng-options="x.name as x.name for x in dotObject.attributeSets[c.typeDetails.optionSetId]">
                            <option value=""></option>
                        </select>
                    </any>
                    <any ng-switch-default>
                        <input class="form-control" ng-model="dotObject.attributes[c.name]" type="text" name="name" />
                    </any>



                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class=" glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        </div>

    </form>

</div>
