<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        Products / {{pageTitle}}
    </h1>
    
</header>

<div id="content-body" class="container-fluid">

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name: </label>
            <div class="col-md-4">
                <input class="form-control" ng-model="product.name" type="text" name="name" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description: </label>
            <div class="col-md-4">
                <input class="form-control" ng-model="product.description" type="text" name="description" />
            </div>
        </div>

        <!--attributeSets: <pre>{{attributeSets | json}}</pre>-->

        <div class="form-group" ng-class="{ 'has-error' : form.selectedAttributeSet.$invalid && submitted }">
            <label class="col-md-2 control-label">AttributeSet:</label>
            <div class="col-md-4">
                <select name="selectedAttributeSet" class="form-control" ng-model="dotObject.selectedAttributeSet" ng-options="c as c.name for c in attributeSets track by c.attributeSetId" ng-change="changeAttributeSet()" required>
                    <option value=""></option>
                </select>
                <p ng-show="form.selectedAttributeSet.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>


        <!--dotObject.selectedAttributeSet: <pre>{{dotObject.selectedAttributeSet | json}}</pre>-->

        <!--dotObject.optionSets: <pre>{{dotObject.optionSets | json}}</pre>-->
        <!--dotObject.attributes: <pre>{{dotObject.attributes | json}}</pre>-->

        <div ng-repeat="c in dotObject.selectedAttributeSet.attributes">
            <div class="form-group">
                <label class="col-md-2 control-label">{{c.name}}: </label>
                <div class="col-md-4" ng-switch="c.type">
                    <any ng-switch-when="OptionSet">
                        
                        <select class="form-control" ng-model="dotObject.attributes[c.attributeId]" ng-options="x.name as x.name for x in dotObject.optionSets[c.typeDetails.optionSetId]">
                            <option value=""></option>
                        </select>
                    </any>

                    <any ng-switch-when="OptionSet-MultiVal">                       

                        <button type="button" class="btn btn-default" ng-model="dotObject.attributes[c.attributeId]" data-multiple="1" data-placeholder="Select..." ng-options="x.name as x.name for x in dotObject.optionSets[c.typeDetails.optionSetId]" bs-select>
                            <span class="caret"></span>
                        </button>
                    </any>

                    <any ng-switch-default>
                        <input class="form-control" ng-model="dotObject.attributes[c.name]" type="text" name="name" />
                    </any>
                </div>

                <!--c: <pre>{{c | json}}</pre>-->
                <!--dotObject.attributes[c.name]: <pre>{{dotObject.attributes[c.name] | json}}</pre>-->



            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class=" glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        </div>

    </form>

    <!--<pre>{{dotObject.selectedAttributeSet | json}}</pre>-->
    <!--dotObject: <pre>{{dotObject | json}}</pre>-->
    <!--product: <pre>{{product | json}}</pre>-->
    <!--selectedAttributeSet: <pre>{{selectedAttributeSet | json}}</pre>-->

</div>
